body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
} 

h1 {
    font-size: 2.8em;
    font-weight: 900;
}

h2 {
    font-size: 1.6em;
}

p {
    font-size: 1.3em;
}

#hero {
    background: linear-gradient(to bottom right, rgba(204, 0, 102, 0.5) 0%, rgba(102, 255, 204, 0.5) 100%), url(bilder/hero-bg.jpg) top center;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-section-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 950px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 40px 10px;
    border-radius: 20px;
}

#hero-image {
    width: 350px;
    border-radius: 250px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#hero-intro-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    width: 450px;
}

#hero-intro-div h1, h2, p {
    margin-top: 0;
    margin-bottom: 15px;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3)), url(bilder/about-me-bg.jpg) top center;
    background-size: cover;
    padding-bottom: 100px;
}

#breadcrumb-heading h1 {
    color:orangered;
    font-size: 4em;
    font-weight: 900;
    padding-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}

#about-me-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 780px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 60px 60px;
    border-radius: 20px;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3)), url(bilder/resume-bg.jpg) top center;
    background-size: cover;
    padding-bottom: 100px;
}

.resume-div {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.experiences {
    display: flex;
    flex-direction: column;
    text-align: left; 
    margin: 20px 20px;  
    width: 50%;
    padding: 30px 30px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.experiences h3 {
    margin: 0;
    text-decoration: underline;
}

.experiences p {
    padding-top: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
    padding: 100px 100px;
}

.social-icon {
    width: 45px;
}

#contact-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact-div h2 {
    font-size: 2.5em;
}

/*-----------------Reponsivitet-----------------*/

@media (max-width: 1185px) {
    #hero-intro-div {
        text-align: center;
        margin-top: 10px; 
    }

    #about-me-div {
        text-align: center;
        padding: 40px 30px;
    }

    .resume-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    .experiences {
        width: 100%;
        margin: 10px 10px; 
}
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.2em;
        
    }
    
    h2 {
        font-size: 1.3em;
    }
    
    p {
        font-size: 1em;
    }

    #hero-section-div {
        width: 90%;
    }

    #about-me-div {
        width: 80%;
    }

    #hero-intro-div {
        margin: 10px 10px;
    }
    #hero-image {
        width: 200px; 
    }

    footer {
        padding: 50px 20px;
    }
}
