body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

h1 {
    font-size: 3.3em;
    font-weight: 500;
}

h2 {
    font-size: 1.6em;
}

p {
    font-size: 1.3em;
}

#hero {
    background: linear-gradient(to bottom right, rgba(204, 0, 102, 0.5) 0%, rgba(102, 255, 204, 0.5) 100%), url(bilder/hero-bg.jpg) top center;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-section-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 950px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 40px 10px;
    border-radius: 20px;
}

#hero-image {
    width: 350px;
    border-radius: 250px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#hero-intro-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    width: 450px;
}

#hero-intro-div h1, h2, p {
    margin-top: 0;
    margin-bottom: 15px;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3)), url(bilder/about-me-bg.jpg) top center;
    background-size: cover;
}

#breadcrumb-heading {
    display: flex;
    justify-content: center;
    background: url(bilder/about-me-heading-bg.jpg);
    background-size: cover;
    padding: 15px 0;
}

#breadcrumb-heading h1 {
    color: white;
    font-weight: 900;
}

#about-me-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 780px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 60px 60px;
    border-radius: 20px;
    margin: 100px 0;
}

/*-----------------Reponsivitet-----------------*/

@media (max-width: 1185px) {
    #hero-intro-div {
        text-align: center;
        margin-top: 10px; 
    }

    #about-me-div {
        text-align: center;
        padding: 40px 30px;
    }
}

@media (max-width: 768px) {
    #hero-section-div {
        width: 90%;
    }

    #about-me-div {
        width: 80%;
    }

    #hero-intro-div {
        margin: 10px 10px;
    }
    #hero-image {
        width: 200px; 
    }

    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 1.3em;
    }
    
    p {
        font-size: 1em;
    }
}
